/* CSS Style by Shahnawaz khan */
/* Set style properties for HTML Body content */

body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
min-height: 100px;
overflow: hidden;
}

.child {
//background-color: #FFFF00;
width: 400px;
//height: 150px;
padding-left: 20%;
line-height: 20px;
//box-sizing: border-box;

}


